.Cell {
  height: 100px;
  width: 100px;
  background-color: darkgray;
}

.Cell-lit {
  background-color: #8338ec;
  animation: neon9 1.5s ease-in-out infinite alternate;

}




@keyframes neon9 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #8338ec,
      0 0 70px #8338ec, 0 0 80px #8338ec, 0 0 100px #8338ec, 0 0 150px #8338ec;
  }

  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #8338ec,
      0 0 35px #8338ec, 0 0 40px #8338ec, 0 0 50px #8338ec, 0 0 75px #8338ec;
  }
}