.Cell {
  height: 100px;
  width: 100px;
  background-color: #414141;

}

.Cell-lit {
  background: #228dff;
  box-shadow: 0 0 1px #62AEFF, 0 0 2px #62AEFF, 0 0 3px #62AEFF, 0 0 4px #228dff,
    0 0 5px #228dff, 0 0 10px #228dff, 0 0 15px #228dff, 0 0 25px #228dff;

}